# macOS
.DS_Store

# Xcode
xcuserdata
*.xcuserstate
*.xcscmblueprint

# Swift PM
.build
.swiftpm

# Reports
build
/TestReport
/AppReport
/TestResults.xcresult

# Build Artefacts
/Scenarios
/Production

# AppCode
.idea