
IS_DEBUG = YES
IS_RELEASE = NO
CHANNEL = Development

#include "../Project.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile
GCC_OPTIMIZATION_LEVEL = 0

DEBUG_INFORMATION_FORMAT = dwarf

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = debug
