
#include "../../Configurations/Targets/App.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = uk.nhs.covid19.production
BUNDLE_DISPLAY_NAME = NHS COVID-19

DEVELOPMENT_TEAM = 877YMUFLMF
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple $(CHANNEL)
PROVISIONING_PROFILE_SPECIFIER = Exposure Notification - $(CHANNEL)

INFOPLIST_FILE = App/Configurations/Info.plist
CODE_SIGN_ENTITLEMENTS = App/Configurations/$(CHANNEL).entitlements

EN_DEVELOPER_REGION = GB-ENG

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Deals with a problem where building with Xcode 12.3+ would result in the app
// crashing with this stack trace on iOS 13.5:
// `dyld: Symbol not found: _OBJC_CLASS_$_ENExposureWindow`
// All calls to `ENExposureWindow` are wrapped in `@available` for iOS 13.7 or
// above.
OTHER_LDFLAGS = $(inherited) -weak_framework ExposureNotification
