
#include "Version.xcconfig"

// Target

SDKROOT = iphoneos

IPHONEOS_DEPLOYMENT_TARGET = 13.5
TARGETED_DEVICE_FAMILY = 1

SWIFT_VERSION = 5.4

CODE_SIGN_STYLE = Automatic

// Identity

PRODUCT_NAME = $(TARGET_NAME)


// Versioning

VERSIONING_SYSTEM = apple-generic


// Build

ENABLE_TESTABILITY = $(IS_DEBUG)
ONLY_ACTIVE_ARCH = $(IS_DEBUG)
VALIDATE_PRODUCT = $(IS_RELEASE)


// Linking

ALWAYS_SEARCH_USER_PATHS = NO

SWIFT_INCLUDE_PATHS = $(BUILD_DIR)/** $(inherited)

FRAMEWORK_SEARCH_PATHS = $(BUILD_DIR)/** $(inherited)

/// using `iphone*` instead of `iphoneos*` to also cover simulator
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = @executable_path/Frameworks @loader_path/Frameworks $(inherited)
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = @executable_path/../Frameworks @loader_path/../Frameworks $(inherited)

// Packaging

MTL_ENABLE_DEBUG_INFO = $(IS_DEBUG)
COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES

// Compiler flags (C-based languags)

ENABLE_NS_ASSERTIONS = $(IS_DEBUG)

ENABLE_STRICT_OBJC_MSGSEND = YES

CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES

GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
